
{{> head }}
{{> navbar  }}


<div class="row">

    <div class="col-8">
        <h1>Guillermina</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem explicabo soluta totam dicta velit? Velit aspernatur rerum explicabo quisquam dicta neque, fuga, illum, ab fugiat natus mollitia nemo quam perspiciatis.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque ipsum sapiente, doloribus ad, beatae deserunt impedit culpa, aut vel sint aliquam dolorem nihil in deleniti dicta qui magnam quam.</p>
    </div>

    <div class="col-4">

        <img src="assets/img/guille.jpg" class="img-thumbnail">
    </div>
</div>



{{> footer}}
